* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  max-width: 100%;
  margin: 10px;
}
.color-name {
  background-color: #fff;
  padding: 5px;
  min-width: 500px;
  max-width: 710px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #333;
  border: 2px solid #333;
  border-radius: 10px;
}
.color-name h1 {
  font-size: 30px;
  font-weight: 500;
}
.color-name .color {
  color: #333;
}
.color-btn button {
  width: 150px;
  height: 60px;
  color: #fff;
  padding: 10px;
  margin: 10px;
  font-size: 30px;
  border: none;
  border-radius: 10px;
  background-color: #333;
  transition: 0.3s;
}
.color-btn button:hover {
  border: 2px solid #333;
  color: #333;
  background: #fff;
}
.copy-color {
  margin-left: 15px;
}
@media screen and (max-width: 992px) {
  .color-name {
    width: 100%;
    padding: 20px;
    margin: 10px;
    height: 120px;
  }
}
